<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>손님 로그인</title>
        <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/guest.css')}}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
        <script type="text/javascript" src="{{url_for('static', filename='scripts/guest.js')}}"></script>
    </head>
    <body>
        <div class="login">
            <div class="login_row">
                <label for="anonType">구분 선택</label>
                <select name="anonType" id="anonType" name="anonType" style="flex: 1">
                    <option value="undergraduate">학부생</option>
                    <option value="graduate">대학원생</option>
                    <option value="professor">교수</option>
                </select>
            </div>
            <div class="login_row">
                <label for="anonName">이름 입력</label>
                <input type="text" id="anonName" name="anonName" style="flex: 1" placeholder="알파벳 및 숫자 가능, 최대 10자" pattern="[a-zA-Z0-9]{1,10}">
            </div>
            <div class="login_row">
                <button type="button" id="login" name="login" style="flex: 1">입장</button>
            </div>
        </div>
    </body>
</html>