<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>손님 로그인</title>
        <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/login.css')}}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
        <script type="text/javascript" src="{{url_for('static', filename='scripts/commons.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='scripts/guest.js')}}"></script>
    </head>
    <body>
        <div class="centeredArea">
            <span class="spacer"></span>
            <div class="areaRow">
                <label for="anonType">구분 선택</label>
                <select name="anonType" id="anonType" name="anonType">
                    <option value="undergraduate">학부생</option>
                    <!--
                    <option value="graduate">대학원생</option>
                    <option value="professor">교수</option>
                    -->
                </select>
            </div>
            <div class="areaRow">
                <label for="anonName">별명 입력</label>
                <input type="text" id="anonName" name="anonName" placeholder="한글, 알파벳, 숫자 가능, 4~10자" pattern="[a-zA-Z0-9가-힣ㄱ-ㅎㅏ-ㅣ]{4,10}">
            </div>
            <div class="areaRow">
                <button type="button" id="login" name="login">입장</button>
            </div>
            <span class="spacer"></span>
        </div>
    </body>
</html>