div.login {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 40%;
    top: 40%;
    width: 20%;
    height: 20%;
}

div.login_row {
    display: flex;
    flex-direction: row;
    margin: 5px 0px;
}

div.login_row input, div.login_row select {
    margin-left: 5px;
}

div.login_row button {
    padding: 10px 0px;
}
